<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="741556538465-6ivmg97mhf8ftrmgn55bs4fadm6b1634.apps.googleusercontent.com"
    />
    <link
      rel="stylesheet"
      href="/static/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/vendor/fontawesome/all.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>About</title>
  </head>
  <body class="bg-light">
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <h4 style="display: inline-block; padding-left: 5px">P R E D I C T</h4>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        style="margin-right: 40px"
      >
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown" id="more-items-dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Records and More
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/datasetHistory"
                ><i class="fas fa-database"></i> Dataset History</a
              >
              <a class="dropdown-item" href="/models"
                ><i class="fas fa-atom"></i> Models</a
              >
              <a class="dropdown-item" href="/settings"
                ><i class="fas fa-cog"></i> Settings</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/datasets">Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help & Issues</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item" id="login_logout_container">
            <div class="g-signin2" style="display: none"></div>
            <a class="nav-link" href="#"
              ><img src="/static/img/developer.png" id="user_icon"
            /></a>
            <div class="user-dropdown-content">
              <a href="#" id="login_logout"
                ><i class="fas fa-door-open"></i> log out</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <center>
      <div class="about">
        <h3>About Predict</h3>
        <p>This app was made for creating AI and ML models and data anlysis.</p>
        <p>this app is also prototype project for undergrad final project.</p>
        <p>
          It's build with Python and Javascript. Mostly Python web framework
          Flask for the backend
        </p>
        <p>
          and Jquery for the front end. The source code for this app is
          <a href="#">here</a>
        </p>

        <div class="about__two">
          <h4 style="margin-bottom: 2rem">Made by Mikias Berhanu, 2021</h4>
          <div class="image-cropper">
            <img src="/static/img/img.jpg" />
          </div>
          <p class="mt-4">
            <strong
              >In loving memory of Mesfin Mekoya, The best dad in the whole
              world !</strong
            >
          </p>
        </div>
      </div>
    </center>
    <!-- Main Content -->

    <!-- End of Nav bar -->

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark fixed-bottom">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-light">
        <small>© 2021 Copyright</small>
        <a href="#"> <small>Mikias Berhanu</small></a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </body>
</html>

<script src="/static/vendor/jquery/jquery.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendor/fontawesome/all.min.js"></script>
<script src="/static/vendor/papa/papaparse.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/formValidation.js"></script>
<script src="/static/js/session_manager.js"></script>
<script src="/static/js/google_logout.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
