<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="741556538465-6ivmg97mhf8ftrmgn55bs4fadm6b1634.apps.googleusercontent.com"
    />
    <link
      rel="stylesheet"
      href="/static/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/vendor/fontawesome/all.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>Predict | home</title>
  </head>
  <body class="bg-light">
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <h4 style="display: inline-block; padding-left: 5px">P R E D I C T</h4>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        style="margin-right: 40px"
      >
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown" id="more-items-dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Records and More
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/datasetHistory"
                ><i class="fas fa-database"></i> Dataset History</a
              >
              <a class="dropdown-item" href="/models"
                ><i class="fas fa-atom"></i> Models</a
              >
              <a class="dropdown-item" href="/settings"
                ><i class="fas fa-cog"></i> Settings</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/datasets">Datasets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help & Issues</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item" id="login_logout_container">
            <div class="g-signin2" style="display: none"></div>
            <a class="nav-link" href="#"
              ><img src="/static/img/developer.png" id="user_icon"
            /></a>
            <div class="user-dropdown-content">
              <a href="#" id="login_logout"
                ><i class="fas fa-door-open"></i> log out</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- End of Nav bar -->

    <!-- form -->
    <div class="container">
      <div class="row text-white">
        <div class="col-xl-12 mx-auto text-center form p-4">
          <div class="px-2">
            <form action="" class="justify-content-center mt-4">
              <div class="custom-file overflow-hidden rounded-pill mb-5">
                <input
                  id="customFile"
                  type="file"
                  class="custom-file-input rounded-pill form-group"
                  name="main-csv-file"
                />
                <label
                  for="customFile"
                  class="custom-file-label rounded-pill"
                  id="file-label"
                  >Choose file</label
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- form -->

    <!-- notice section -->
    <div id="notice-holder-main">
      <div class="container" style="margin-top: -60px">
        <div class="row text-white">
          <div class="col-xl-8 mx-auto text-center form p-4">
            <div
              class="alert alert-info alert-dismissible fade show"
              role="alert"
            >
              <small
                ><strong
                  >Use .csv files only. In order to save your dataset , you
                  should create account . for quick use no need for account
                  creation.</strong
                ></small
              >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                style="outline: none"
                id="close-alert-btn"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of notice -->

    <!-- Main CSV data holder table -->
    <div
      id="parsed_csv_list"
      class="col-sm-8"
      style="margin-left: auto; margin-right: auto; margin-top: -20px"
    >
      <!-- Intro Card -->
      <div class="card-group" style="margin-top: 50px; margin-bottom: 20px">
        <div
          class="card"
          style="margin: 5px; border: 1px solid lightgray; border-radius: 22px"
        >
          <img
            src="/static/img/card5.jpg"
            class="card-img-top"
            alt="..."
            style="height: 298px; border-radius: 22px"
          />
          <p class="card-info">Neural Networks</p>
        </div>
        <div
          class="card"
          style="margin: 5px; border: 1px solid lightgray; border-radius: 22px"
        >
          <img
            src="/static/img/card6.jpg"
            class="card-img-top"
            alt="..."
            style="height: 298px; border-radius: 22px"
          />
          <p class="card-info">Classification</p>
        </div>
        <div
          class="card"
          style="margin: 5px; border: 1px solid lightgray; border-radius: 22px"
        >
          <img
            src="/static/img/card3.jpg"
            class="card-img-top"
            alt="..."
            style="height: 298px; border-radius: 22px"
          />
          <p class="card-info">Regression</p>
        </div>
      </div>
      <!-- Intro card -->
    </div>
    <!-- Main CSV data holder table -->

    <!-- Process Data Button  holder-->
    <div
      class="container mt-4"
      id="data-process-button-holder"
      style="margin-left: 15em"
    ></div>
    <!-- Process Data Button holder -->

    <!-- Loading gif loader -->
    <div class="container mx-auto" id="loader-gif-holder">
      <div class="row h-100 justify-content-center align-items-center">
        <img
          src="/static/img/loading2.gif"
          alt="LOADING_DATA"
          id="loader-gif"
        />
      </div>
    </div>
    <!-- Loading gif loader -->

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark fixed-bottom">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-light">
        <small>© 2021 Copyright</small>
        <a href="#"> <small>Mikias Berhanu</small></a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- Process Data Modal -->
    <div
      class="modal fade"
      id="processDataModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="processDataLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="processDataLabel">
              Process your .csv file here
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body">
            <div id="modal-backdrop"></div>
            <div id="notice-error">
              <div class="alert alert-info fade show" role="alert">
                <p>
                  <small>
                    The following inputs will be used as parameter for trainig
                    the machine learning algoritm. please input valid parameter
                    as it will affect the output of the system directly.
                  </small>
                </p>
              </div>
            </div>

            <!--  Main Form-->
            <div class="container mt-4">
              <form method="" action="" id="main-data-process-form"></form>
            </div>
            <!-- Main Form -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Process Data Modal -->

    <!-- Results Data Modal -->
    <div
      class="modal fade"
      id="resultDataModal"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="resultsDataLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="resultsDataLabel">
              Result from your model
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div
                class="alert alert-info fade show"
                role="alert"
                id="process-res"
              >
                <p>
                  <small>
                    The following inputs will be used as parameter for trainig
                    the machine learning algoritm. please input valid parameter
                    as it will affect the output of the system directly.
                  </small>
                </p>
              </div>
            </div>

            <!--  Main Form-->
            <div class="container mt-4">
              <form method="" action="" id="prediction-input"></form>
            </div>
            <!-- Main Form -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Process Data Modal -->
  </body>
</html>

<script src="/static/vendor/jquery/jquery.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendor/fontawesome/all.min.js"></script>
<script src="/static/vendor/papa/papaparse.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/formValidation.js"></script>
<script src="/static/js/session_manager.js"></script>
<script src="/static/js/google_logout.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
