<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="741556538465-6ivmg97mhf8ftrmgn55bs4fadm6b1634.apps.googleusercontent.com"
    />
    <link
      rel="stylesheet"
      href="/static/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/vendor/fontawesome/all.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>Predict | Login</title>
  </head>
  <body class="bg-light">
    <!-- End of Nav bar -->

    <!-- Login Container -->
    <div class="login__container">
      <h3>Sign In with</h3>
      <div class="login__options">
        <!-- <div class="login__option1">
          <img src="/static/img/icon-google.png" alt="GOOGLE" /> Google
        </div> -->
        <div
          class="g-signin2"
          data-onsuccess="onSignIn"
          style="margin-left: auto; margin-right: auto"
        ></div>
        <!-- <div class="login__option2">
          <i class="fab fa-github f_icn"></i> Github
        </div> -->
      </div>
      <form id="login-form">
        <div id="errors"></div>
        <div class="mb-3">
          <label for="email" class="form-label"
            ><strong>Email address</strong></label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            <small>We'll never share your email with anyone else.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="pass" class="form-label"><strong>Password</strong></label>
          <input type="password" class="form-control" id="pass" />
        </div>
        <button type="submit" class="btn btn-outline-info">Login</button>
      </form>
      <div class="login__links">
        <a href="/forgot">Forgot password?</a>
        <a href="/signup">Not a member? Sign up now</a>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-light fixed-bottom">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-light">
        <small class="text-dark">© 2021 Copyright</small>
        <a href="#"> <small>Mikias Berhanu</small></a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </body>
</html>

<!-- Scripts -->
<script src="/static/vendor/jquery/jquery.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendor/fontawesome/all.min.js"></script>
<script src="/static/js/login.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
